<a href="https://colab.research.google.com/github/zuzannazak/Tangles/blob/main/Tangle_playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tangles theoretical intro

##Definitions

Traditional clustering identifies groups of objects that share
certain qualities. Tangles do the converse: they identify
groups of qualities that often occur together. They can
thereby identify and discover types: of behaviour, views,
abilities, dispositions.



*   (potential) features s of (elements v of) V (aka separations)
   *    The elements of S are called potential features of (the elements of) V, those of S~ are their features. An element of V has a feature A if it lies in A.
*   specifications →s , ←s of such s
   *   A subset of S~ is a specification of S if for every s ∈ S it contains either →s or ←s but not both. The elements of S are called potential features of (the elements of) V, those of S~ are their features. An element of V has a feature A if it lies in A.
   *   types (or typical specifications of S) 
      *   A subset of S~ is a specification of S if for every s ∈ S it contains either →s or ←s but not both.
   *   consistency of specifications
     *   A subset of S~ is inconsistent if it contains three features →r, →s, →t such that no element of V has them al
*   tangles
   *   Every Fn-tangle of S contains all the features ←s for which →s has fewer than n elements, because it cannot contain {→s } ∈ Fn as a subset.
*   star
   *   A set of features is a star if their inverses are disjoint subsets of V. 
*   universe of features
   *   We shall be particularly interested in sets S such that S~ contains, for any given →r ,→s ∈ S~, also the features →r ∨ →s and →r ∧ →s . If S has this property, then S~ will, in fact, contain all Boolean expressions of features it contains already - combinations of features built from others by using the symbols ∨ and ∧ and taking inverses. We then call S~ a universe of features.
*   submodularity
   *   S and S~ are submodular if for any two features →r ,→s ∈ S~ at least one of →r ∨ →s and →r ∧ →s is also in S~.

#Tangles example - Polish administrative regions and numeric variables

Data about Polish administrative regions (16) regarding population health.

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

import pandas as pd
import numpy as np

In [ ]:
#df = pd.read_excel("/content/drive/MyDrive/STUDIA/Doktorskie/Tangle/test-data.xlsx")
df = pd.read_excel("https://github.com/zuzannazak/Tangles/blob/main/wojewodztwa_test_data.xlsx?raw=true")
df.head()

    Nazwa wojewodztwa  ...  Powierzchnia gruntów leśnych (ha)
0        DOLNOŚLĄSKIE  ...                           28652.24
1  KUJAWSKO-POMORSKIE  ...                           53390.76
2           LUBELSKIE  ...                          240792.69
3            LUBUSKIE  ...                           15003.21
4             ŁÓDZKIE  ...                          139044.29

[5 rows x 5 columns]

#Tangles example - fake yes/no questionnaire

In [1]:
pip install openpyxl==3.0.0

Collecting openpyxl==3.0.0
  Downloading openpyxl-3.0.0.tar.gz (172 kB)
     |████████████████████████████████| 172 kB 5.1 MB/s
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: et_xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl==3.0.0) (1.1.0)
Building wheels for collected packages: openpyxl
  Building wheel for openpyxl (setup.py) ... done
  Created wheel for openpyxl: filename=openpyxl-3.0.0-py2.py3-none-any.whl size=241207 sha256=46042416d9935e00b57bc34e5b729de2aad72ac958d3de354d9c46612a9983ff
  Stored in directory: /root/.cache/pip/wheels/c7/64/ff/ce98f6e1d2701ae8e216c875da62feed2839ac8a3cae0ab8af
Successfully built openpyxl
Installing collected packages: jdcal, openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.9
    Uninstalling openpyxl-3.0.9:
      Successfully uninstalled openpyxl-3.0.9
Successfully installed jdcal-1.4.1 openpyxl-3.0.0

In [2]:
pip install anytree

Collecting anytree
  Downloading anytree-2.8.0-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 277 kB/s
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from anytree) (1.15.0)
Installing collected packages: anytree
Successfully installed anytree-2.8.0

In [172]:
#from google.colab import drive
#drive.mount('/content/drive')

import pandas as pd
import numpy as np
import openpyxl
from anytree import AnyNode, Node, RenderTree, find, PostOrderIter, PreOrderIter

In [4]:
#df = pd.read_excel("/content/drive/MyDrive/STUDIA/Doktorskie/Tangle/Tangles_example_fake_data.xlsx")
df = pd.read_excel("https://github.com/zuzannazak/Tangles/blob/main/Tangles_example_fake_data.xlsx?raw=true")
df.head()

  Person Question 1 Question 2  ... Question 8 Question 9 Question 10
0      A        Yes        Yes  ...         No         No         Yes
1      B        Yes        Yes  ...        Yes        Yes         Yes
2      C        Yes        Yes  ...        Yes         No         Yes
3      D        Yes        Yes  ...         No        Yes         Yes
4      E        Yes        Yes  ...        Yes        Yes         Yes

[5 rows x 11 columns]

In [5]:
#calculating cost function for cuts - the mean over the similarities over all possible pairs of separated persons:

questions_with_cost_df = pd.DataFrame(columns=['Question', 'Cost'])
for columnName in df.iteritems():
  qA = df.loc[df[str(columnName[0])] == "Yes"]
  qB = df.loc[df[str(columnName[0])] == "No"]

  qA = qA.reset_index(drop=True)
  qB = qB.reset_index(drop=True)


  sum_of_similarities = 0

  for i, row in qA.iterrows():
      for l, row in qB.iterrows():
        for k in range(10):
          if qB.iat[l,k] == qA.iat[i,k]: 
            sum_of_similarities = sum_of_similarities +1
            #print(str(j) + ": rząd " + str(l) + ", pytanie " + str(k) + ": " + q1B.iat[l,k] + " i "+"rząd " + str(i) +", pytanie " + str(k) + ": " + q1A.iat[i,k])
            #print(sum_of_similarities)

  number_of_pairs_between_sets = qA.shape[0]*qB.shape[0]
  if number_of_pairs_between_sets == 0:
    number_of_pairs_between_sets = 0.0000001
  normalized_func_cost = sum_of_similarities/number_of_pairs_between_sets

  questions_with_cost_df = pd.concat([questions_with_cost_df, pd.DataFrame({'Question': [str(columnName[0])],
                    'Cost' : [normalized_func_cost]})], ignore_index = True, axis = 0)

  sum_of_similarities = 0

questions_with_cost_df = questions_with_cost_df[questions_with_cost_df["Question"] != "Person"]
questions_with_cost_df = questions_with_cost_df.sort_values(by=['Cost'])
questions_with_cost_df = questions_with_cost_df.reset_index(drop=True)
questions_with_cost_df
#why 0 when all of them are different, or all of them are the same?

      Question      Cost
0   Question 2  0.000000
1   Question 3  4.404762
2   Question 6  4.531746
3   Question 1  4.641667
4   Question 9  4.727273
5   Question 8  4.761905
6   Question 5  4.769841
7   Question 7  4.785714
8   Question 4  4.823077
9  Question 10  5.225000

In [112]:
def list_of_people_to_string(df):
    list_of_people = ""
    for row in df["Person"]:
      list_of_people = list_of_people + str(row) + ", "
    return list_of_people

In [249]:
root = Node(name=list_of_people_to_string(df), people_list=df, questions=questions_with_cost_df, children=[], level=0)

In [250]:
for pre, fill, node in RenderTree(root):
    print("%s%s" % (pre, node.name))

A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, R, S, T, U, W, Y, Z,

In [247]:
def giveChildrenByRootId(root_of_the_tree, parent_name):
  parent=find_by_attr(root_of_the_tree, parent_name)
  child_list=[]

  questions_with_cost_df1 = parent.questions
  if parent.level <= (len(questions_with_cost_df1)):
      people_list = parent.people_list
      column_applicable =  questions_with_cost_df1["Question"].iat[parent.level]

      left = people_list.loc[people_list[str(column_applicable)] == "Yes"]
      right = people_list.loc[people_list[str(column_applicable)] == "No"]

      childlevel=parent.level+1

      if len(left) != 0 and len(people_list)>1:
        id_left = questions_with_cost_df1["Question"].iat[parent.level] + ": " + list_of_people_to_string(left)
        childleft = Node(id = id_left, name = id_left, people_list=left, questions=questions_with_cost_df1, level = childlevel, parent=find_by_attr(root_of_the_tree, parent_name))
        child_list.append(childleft)

      if len(right) != 0 and len(people_list)>1:
        id_right = questions_with_cost_df1["Question"].iat[parent.level] + ": " + list_of_people_to_string(right)
        childright = Node(id=id_right, name=id_right, people_list=right, questions=questions_with_cost_df1, level = childlevel, parent=find_by_attr(root_of_the_tree, parent_name))
        child_list.append(childright)
    
 # for pre, fill, node in RenderTree(root_of_the_tree):
  #  print("%s%s" % (pre, node.name))
    
  return "done!"

In [251]:
for pre, fill, node in RenderTree(root):
    print("%s%s" % (pre, node.name))

A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, R, S, T, U, W, Y, Z,

In [252]:
list_of_nodes_checked = []
list_of_nodes_to_check = [node.name for node in PreOrderIter(root)]

while len([node.name for node in PreOrderIter(root, filter_=lambda n: n.name not in list_of_nodes_checked)]) != 0:
  list_of_nodes_to_check = [node.name for node in PreOrderIter(root, filter_=lambda n: n.name not in list_of_nodes_checked)]
  giveChildrenByRootId(root, list_of_nodes_to_check[0])
  list_of_nodes_checked.append(list_of_nodes_to_check[0])

IndexError: ignored

In [253]:
for pre, fill, node in RenderTree(root):
    print("%s%s" % (pre, node.name))

A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, R, S, T, U, W, Y, Z,
└── Question 2: A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, R, S, T, U, W, Y, Z,
    ├── Question 3: W, Z,
    │   ├── Question 6: W,
    │   └── Question 6: Z,
    └── Question 3: A, B, C, D, E, F, G, H, I, J, K, L, M, N, O, P, R, S, T, U, Y,
        ├── Question 6: F, G, H, I, J, N, P, S,
        │   ├── Question 1: S,
        │   └── Question 1: F, G, H, I, J, N, P,
        │       ├── Question 9: G, I, J, N,
        │       │   ├── Question 8: G, J, N,
        │       │   │   └── Question 5: G, J, N,
        │       │   │       └── Question 7: G, J, N,
        │       │   │           ├── Question 4: J,
        │       │   │           └── Question 4: G, N,
        │       │   │               └── Question 10: G, N,
        │       │   └── Question 8: I,
        │       └── Question 9: F, H, P,
        └── Question 6: A, B, C, D, E, K, L, M, O, R, T, U, Y,

##Naive table search algorythm
**Input:** The separation system S, enumerated as s1, . . . , sn; oracle access to F.

**Output:** For every i ≤ n a list Ti of all F-tangles of {s1, . . . , si}.