<a href="https://colab.research.google.com/github/zuzannazak/Tangles/blob/main/Tangle_playground.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tangles theoretical intro

##Definitions

Traditional clustering identifies groups of objects that share
certain qualities. Tangles do the converse: they identify
groups of qualities that often occur together. They can
thereby identify and discover types: of behaviour, views,
abilities, dispositions.



*   (potential) features s of (elements v of) V (aka separations)
   *    The elements of S are called potential features of (the elements of) V, those of S~ are their features. An element of V has a feature A if it lies in A.
*   specifications →s , ←s of such s
   *   A subset of S~ is a specification of S if for every s ∈ S it contains either →s or ←s but not both. The elements of S are called potential features of (the elements of) V, those of S~ are their features. An element of V has a feature A if it lies in A.
   *   types (or typical specifications of S) 
      *   A subset of S~ is a specification of S if for every s ∈ S it contains either →s or ←s but not both.
   *   consistency of specifications
     *   A subset of S~ is inconsistent if it contains three features →r, →s, →t such that no element of V has them al
*   tangles
   *   Every Fn-tangle of S contains all the features ←s for which →s has fewer than n elements, because it cannot contain {→s } ∈ Fn as a subset.
*   star
   *   A set of features is a star if their inverses are disjoint subsets of V. 
*   universe of features
   *   We shall be particularly interested in sets S such that S~ contains, for any given →r ,→s ∈ S~, also the features →r ∨ →s and →r ∧ →s . If S has this property, then S~ will, in fact, contain all Boolean expressions of features it contains already - combinations of features built from others by using the symbols ∨ and ∧ and taking inverses. We then call S~ a universe of features.
*   submodularity
   *   S and S~ are submodular if for any two features →r ,→s ∈ S~ at least one of →r ∨ →s and →r ∧ →s is also in S~.

#Tangles example - Polish administrative regions and numeric variables

Data about Polish administrative regions (16) regarding population health.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/STUDIA/Doktorskie/Tangle/test-data.xlsx")
df.head()

    Nazwa wojewodztwa  ...  Powierzchnia gruntów leśnych (ha)
0        DOLNOŚLĄSKIE  ...                           28652.24
1  KUJAWSKO-POMORSKIE  ...                           53390.76
2           LUBELSKIE  ...                          240792.69
3            LUBUSKIE  ...                           15003.21
4             ŁÓDZKIE  ...                          139044.29

[5 rows x 5 columns]

#Tangles example - fake yes/no questionnaire

In [56]:
#from google.colab import drive
#drive.mount('/content/drive')

import pandas as pd
import numpy as np

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
#df = pd.read_excel("/content/drive/MyDrive/STUDIA/Doktorskie/Tangle/Tangles_example_fake_data.xlsx")
df = pd.read_excel("https://github.com/zuzannazak/Tangles/blob/main/Tangles_example_fake_data.xlsx?raw=true")
df.head()

  Person Question 1 Question 2  ... Question 8 Question 9 Question 10
0      A        Yes        Yes  ...         No         No         Yes
1      B        Yes        Yes  ...        Yes        Yes         Yes
2      C        Yes        Yes  ...        Yes         No         Yes
3      D        Yes        Yes  ...         No        Yes         Yes
4      E        Yes        Yes  ...        Yes        Yes         Yes

[5 rows x 11 columns]

In [65]:
#calculating cost function for cuts - the mean over the similarities over all possible pairs of separated persons:

#For question 1:
q1A = df.loc[df['Question 1'] == "Yes"]
q1A = q1A.iloc[: , 1:]
q1B = df.loc[df['Question 1'] == "No"]
q1B = q1B.iloc[: , 1:]

q1A = q1A.reset_index(drop=True)
q1B = q1B.reset_index(drop=True)

In [59]:
q1A

   Question 1 Question 2 Question 3  ... Question 8 Question 9 Question 10
0         Yes        Yes         No  ...         No         No         Yes
1         Yes        Yes         No  ...        Yes        Yes         Yes
2         Yes        Yes         No  ...        Yes         No         Yes
3         Yes        Yes         No  ...         No        Yes         Yes
4         Yes        Yes         No  ...        Yes        Yes         Yes
5         Yes        Yes         No  ...         No         No         Yes
6         Yes        Yes         No  ...        Yes         No          No
7         Yes        Yes         No  ...        Yes         No          No
8         Yes        Yes         No  ...        Yes        Yes         Yes
9         Yes        Yes         No  ...         No         No          No
10        Yes        Yes         No  ...        Yes        Yes         Yes
11        Yes        Yes         No  ...        Yes         No          No
12        Yes        Yes        Yes  ...         No        Yes          No
13        Yes        Yes         No  ...        Yes        Yes          No
14        Yes        Yes        Yes  ...         No         No          No

[15 rows x 10 columns]

In [60]:
q1B

  Question 1 Question 2 Question 3  ... Question 8 Question 9 Question 10
0         No        Yes         No  ...         No         No         Yes
1         No        Yes         No  ...        Yes        Yes         Yes
2         No        Yes         No  ...        Yes         No         Yes
3         No        Yes         No  ...         No        Yes         Yes
4         No        Yes         No  ...        Yes        Yes         Yes
5         No        Yes         No  ...        Yes        Yes         Yes
6         No        Yes         No  ...        Yes         No         Yes
7         No        Yes         No  ...         No         No          No

[8 rows x 10 columns]

In [52]:
q1A.iat[0,6]

'Yes'

In [ ]:
#działa dla podgrup wg pytania 1 (chyba)


list_of_similarities = []
sum_of_similarities = 0
i=0 #rzędy w Q1A
j=0 #pytania poziom górny
l=0 #rzędy w Q1B
k = 0 #pytania żeby liczyć similarities obiektów

for i, row in q1A.iterrows():
    for l, row in q1B.iterrows():
      for k in range(10):
        if q1B.iat[l,k] == q1A.iat[i,k]: 
          sum_of_similarities = sum_of_similarities +1
          #print(str(j) + ": rząd " + str(l) + ", pytanie " + str(k) + ": " + q1B.iat[l,k] + " i "+"rząd " + str(i) +", pytanie " + str(k) + ": " + q1A.iat[i,k])
          #print(sum_of_similarities)
        

list_of_similarities.append(sum_of_similarities)
sum_of_similarities = 0

list_of_similarities

In [66]:
#calculating cost function for cuts - the mean over the similarities over all possible pairs of separated persons:

#For question 1:
q2A = df.loc[df['Question 2'] == "Yes"]
q2A = q2A.iloc[: , 1:]
q2B = df.loc[df['Question 2'] == "No"]
q2B = q2B.iloc[: , 1:]

q2A = q2A.reset_index(drop=True)
q2B = q2B.reset_index(drop=True)

In [68]:
q2A

   Question 1 Question 2 Question 3  ... Question 8 Question 9 Question 10
0         Yes        Yes         No  ...         No         No         Yes
1         Yes        Yes         No  ...        Yes        Yes         Yes
2         Yes        Yes         No  ...        Yes         No         Yes
3         Yes        Yes         No  ...         No        Yes         Yes
4         Yes        Yes         No  ...        Yes        Yes         Yes
5          No        Yes         No  ...         No         No         Yes
6          No        Yes         No  ...        Yes        Yes         Yes
7          No        Yes         No  ...        Yes         No         Yes
8          No        Yes         No  ...         No        Yes         Yes
9          No        Yes         No  ...        Yes        Yes         Yes
10        Yes        Yes         No  ...         No         No         Yes
11        Yes        Yes         No  ...        Yes         No          No
12        Yes        Yes         No  ...        Yes         No          No
13         No        Yes         No  ...        Yes        Yes         Yes
14        Yes        Yes         No  ...        Yes        Yes         Yes
15         No        Yes         No  ...        Yes         No         Yes
16        Yes        Yes         No  ...         No         No          No
17        Yes        Yes         No  ...        Yes        Yes         Yes
18         No        Yes         No  ...         No         No          No
19        Yes        Yes         No  ...        Yes         No          No
20        Yes        Yes        Yes  ...         No        Yes          No
21        Yes        Yes         No  ...        Yes        Yes          No
22        Yes        Yes        Yes  ...         No         No          No

[23 rows x 10 columns]

In [69]:
q2B

Empty DataFrame
Columns: [Question 1, Question 2, Question 3, Question 4, Question 5, Question 6, Question 7, Question 8, Question 9, Question 10]
Index: []

In [67]:
#działa dla podgrup wg pytania 2 (chyba)


list_of_similarities = []
sum_of_similarities = 0
i=0 #rzędy w Q2A
j=0 #pytania poziom górny
l=0 #rzędy w Q2B
k = 0 #pytania żeby liczyć similarities obiektów

for i, row in q1A.iterrows():
    for l, row in q2B.iterrows():
      for k in range(10):
        if q2B.iat[l,k] == q2A.iat[i,k]: 
          sum_of_similarities = sum_of_similarities +1
          #print(str(j) + ": rząd " + str(l) + ", pytanie " + str(k) + ": " + q1B.iat[l,k] + " i "+"rząd " + str(i) +", pytanie " + str(k) + ": " + q1A.iat[i,k])
          #print(sum_of_similarities)
        

list_of_similarities.append(sum_of_similarities)
sum_of_similarities = 0

list_of_similarities

[0]

##Naive table search algorythm
**Input:** The separation system S, enumerated as s1, . . . , sn; oracle access to F.

**Output:** For every i ≤ n a list Ti of all F-tangles of {s1, . . . , si}.